<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstagramAppId" value="" />
    <add key="InstagramAppSecret" value="" />
    <add key="RedirectUrl" value="https://andreyweber.github.io/insta-basic-display/" />
    <add key="MediaRequestLimit" value="100" />
  </appSettings>
</configuration>